 <div *ngFor="let item of users">
  <div class="card">
    <h5 class="card-header">{{item.first_name}}</h5>
    <div class="card-body">
      <p class="card-text">{{item.password}}</p>
      <p class="card-text"> {{item.username}}</p>
      <p class="card-text">{{item.phone}}</p>

    </div>
  </div>
  <br>
</div>
<!-- <div class="container">
  <div *ngFor="let user of users">
    <div class="col-md-3">
      {{user.first_name}}
    </div>
    <div class="col-md-3">
      {{user.password}}
    </div>
    <div class="col-md-3">
      {{user.username}}
    </div>
    <div class="col-md-3">
      {{user.phone}}
    </div>
  </div>
</div> -->
